
#box {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    width: 900px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    min-height: 70px;
}

#gallows {
    float: left;
    width: 500px;
    text-align: center;
    min-height: 450px;
}

#alphabet {
    float: left;
    width: 500px;
    text-align: center;
    min-height: 450px;
}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.letter:hover {
    background-color: rgb(99, 171, 234);
    color: rgb(134, 214, 204);
    border: 3px solid  rgb(134, 214, 204);
}